
GateGuardian/bin/Debug/ScanData_20200603135143.xlsx
FirebaseWrapper/obj/Debug/FirebaseWrapper.csprojAssemblyReference.cache
GateGuardian/bin/Debug/GateGuardian.exe
GateGuardian/bin/Debug/GateGuardian.pdb
GateGuardian/ExportFileClass.vb
GateGuardian/obj/Debug/DesignTimeResolveAssemblyReferences.cache
GateGuardian/obj/Debug/GateGuardian.exe
GateGuardian/obj/Debug/GateGuardian.pdb
GateGuardian/obj/Debug/GateGuardian.vbprojAssemblyReference.cache
